{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "plugins": ["react", "prettier", "@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    },
    "requireConfigFile": false
  },
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "localStorage": true,
    "ga": true,
    "fetch": true,
    "window": true,
    "document": true,
    "Raven": true,
    "ENV": true,
    "JSX": true
  },
  "rules": {
    "react/prop-types": "off",
    "no-console": 0,
    "react/sort-comp": [
      1,
      {
        "order": ["type-annotations", "static-methods", "lifecycle", "everything-else", "render"]
      }
    ],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error", // suppress errors for missing 'import React' in files
    // "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "react/react-in-jsx-scope": "off",
    // allow jsx syntax in js files (for next.js project)
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }] //should add ".ts" if typescript project
  }
}
