.modalStyle .img-avatar-edit {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 30px;
}

.modalStyle .header-edit-profile {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modalStyle .header-edit-profile h2 {
    font-weight: bold;
    font-size: 22px;
}

.modalStyle .header-edit-profile p {
    cursor: pointer;
}

.modalStyle .header-edit-profile p:hover {
    color: blue;
    text-decoration: underline;
}

.modalStyle .content {
    margin: 0 auto;
}