@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,300;1,400&display=swap');

#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #5932ea;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgb(251, 252, 254);
}

.header_table {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}


.title_table {
    width: 169px;
    height: 33px;
    left: 438px;
    top: 136px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: -0.01em;

    color: #000000;

    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.button_table {
    width: 90px;
    height: 40px;
    outline: none;
    background-color: white;
    color: #5932ea;
    border-color: #5932ea;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.button_table:hover {
    background-color: #5932ea;
    color: white;
    border: none;
}