.group {
    position: relative;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.input-edit-profile {
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    display: block;
    width: 600px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.input-edit-profile:focus {
    outline: none;
}

.label-edit-profile {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input-edit-profile:focus~.label-edit-profile,
.input-edit-profile:valid~.label-edit-profile {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.bar-edit-profile {
    position: relative;
    display: block;
    width: 600px;
}

.bar-edit-profile:before,
.bar-edit-profile:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar-edit-profile:before {
    left: 50%;
}

.bar-edit-profile:after {
    right: 50%;
}

.input-edit-profile:focus~.bar-edit-profile:before,
.input-edit-profile:focus~.bar-edit-profile:after {
    width: 50%;
}

.highlight-edit-profile {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input-edit-profile:focus~.highlight-edit-profile {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.btn-save-edit {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 10px 20px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    margin-left: 570px;
}

.btn-save-edit:hover {
    background-color: #4481fa;
    text-decoration: none;
    color: white;
    transition-duration: 0.1s;
}

.btn-save-edit:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.btn-save-edit:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.btn-save-edit:focus {
    outline: 1px transparent;
}

.btn-save-edit:before {
    display: none;
}

.btn-save-edit:-webkit-details-marker {
    display: none;
}