.list_article {
    margin-left: 10rem;
    margin-top: 2rem;
}

.header_article {
    width: 100%;
    height: 80px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_search {
    box-sizing: border-box;
    color: rgb(50, 50, 50);
    border: 1px solid rgb(185, 185, 185);
    background: rgb(255, 255, 255);
    height: 40px;
    width: 300px;
    padding: 12px 40px 12px 16px;
    font-size: 16px;
    font-family: NexusSans, Arial, sans-serif;
    line-height: 1;
    outline: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn_search {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    padding: 12px 16px;
    overflow: hidden;
    font-size: 16px;
    font-family: NexusSans, Arial, sans-serif;
    vertical-align: middle;
    text-align: center;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    text-overflow: ellipsis;
    line-height: 1;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: background-color 0.3s ease 0s, color 0.3s ease 0s, border-color 0.3s ease 0s;
    background-color: rgb(0, 115, 152);
    color: rgb(255, 255, 255);
}

.card_article {
    box-sizing: border-box;
    width: 700px;
    height: auto;
    background: #ffffff;
    backdrop-filter: blur(6px);
    cursor: pointer;
    transition: all 0.5s;
    user-select: none;
    font-weight: bolder;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card_article:hover {
    background-color: #e5f1f4;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,300;1,400&display=swap');

.card {
    width: 900px;
    height: auto;
    background: whitesmoke;
    transition: .2s linear;
    box-shadow: 1px 1px 2px lightslategray;
    cursor: default;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.icon_more {
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-top-part {
    width: 100%;
    height: 70%;
    padding: 15px;
    display: flex;
}

.feauture_more {
    color: red;
}

.left-part {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-part {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.name {
    font-size: 20px;
    font-weight: 600;
}

.user-field {
    font-size: 15px;
    font-weight: 400;
}

.name:hover {
    text-decoration: underline;
}

.role {
    font-size: 10px;
    color: lightcyan;
    font-weight: bold;
    text-transform: lowercase;
    background-color: lightskyblue;
    padding: 4px 10px;
    border-radius: 15px;
}

.position {
    color: grey;
    font-size: 13px;
}

.card-bottom-part {
    width: 100%;
    height: 30px;
    height: 40px;
    display: flex;
    border: 1px solid rgb(231, 227, 227);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.sort_article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn_sort {
    margin-right: -1px;
    border: 1px solid rgb(0, 115, 152);
    cursor: pointer;
    line-height: 1;
    padding: 12px 16px;
    z-index: 2;
    background: rgb(229, 241, 244);
}

/* Cart */
.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.4s;
}

.detail_article {
    position: fixed;
    top: 0px;
    right: -100%;
    width: 380px;
    min-height: 100vh;
    padding: 20px;
    background-color: aqua;
    background: #fff;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    box-shadow: rgba(0, 0, 0, 0.12) -8px 0px 12px 0px;
    transition: 0.6s;
}

.detail_article_active {
    right: 0;
}

.detail_header {
    display: block;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_detail {
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
}

.detail_title {
    font-size: 14px;
    color: rgb(115, 115, 115);
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    font-family: NexusSans, Arial, sans-serif;
}

.detail_content {
    font-size: 14px;
    color: rgb(115, 115, 115);
    font-family: NexusSans, Arial, sans-serif;
}